<a href="https://colab.research.google.com/github/premkumar25/Twitter-sentiment-analysis/blob/main/Twitter_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('train.csv', index_col=['id'])
df.head()

    label                                              tweet
id
1       0   @user when a father is dysfunctional and is s...
2       0  @user @user thanks for #lyft credit i can't us...
3       0                                bihday your majesty
4       0  #model   i love u take with u all the time in ...
5       0             factsguide: society now    #motivation

In [21]:
import nltk
#nltk.download('stopwords')                           #### If stopwords is not downloaded download using this
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

In [8]:
source = df['tweet']
target = df['label']

In [9]:
source.isnull().sum()

0

In [30]:
corpus = []
stemmer = PorterStemmer()
for i in range(1,len(source)):
  clean_value = re.sub('[^a-zA-Z]', ' ', source[i])
  #print(clean_value)
  clean_value = clean_value.lower()
  clean_value = clean_value.split()
  clean_value = [stemmer.stem(word) for word in clean_value if not word in stopwords.words('english')]
  clean_value = ' '.join(clean_value)
  corpus.append(clean_value)

In [31]:
corpus[1]

'user user thank lyft credit use caus offer wheelchair van pdx disapoint getthank'

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
source = cv.fit_transform(source).toarray()

In [36]:
source.shape

(31962, 5000)

In [38]:
source_df = pd.DataFrame(source, columns=cv.get_feature_names())
source_df.head()

   00  00 get  00 get here  000  06  06 16  ...  ¾ð ¾ð  à¹  ï¼  ó¾  ó¾ ó¾  ó¾ ó¾ ó¾
0   0       0            0    0   0      0  ...      0   0   0   0      0         0
1   0       0            0    0   0      0  ...      0   0   0   0      0         0
2   0       0            0    0   0      0  ...      0   0   0   0      0         0
3   0       0            0    0   0      0  ...      0   0   0   0      0         0
4   0       0            0    0   0      0  ...      0   0   0   0      0         0

[5 rows x 5000 columns]

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [40]:
X_train, X_test, y_train, y_test = train_test_split(source_df, target, test_size=0.3)

In [41]:
from sklearn.naive_bayes import MultinomialNB

In [42]:
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [43]:
y_pred = classifier.predict(X_test)

In [44]:
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.9276254041088747
[[8427  480]
 [ 214  468]]